/* Reset */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Géneral */

html,
body {
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  color: #222;
}

img {
  max-width: 100%;
}

/* Home */

.home {
  height: 90vh;
  background: url(../images/girl-3717166__340.webp) center center/ cover;
}

.home-btn {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

/* Mission */

.mission {
  display: flex;
  margin: 2rem;
  height: 600px;
}

.mission-national {
  max-height: 600px;
  margin-right: 3rem;
  flex: 1;
}

.national-img img {
  height: 400px;
  width: 100%;
}

.national-img {
}

.national-description {
  padding: 1.5rem;
}

.mission-international {
  height: 600px;
  flex: 1;
}

.international-img img {
  height: 400px;
  width: 100%;
}

.international-img {
}

.international-description {
  padding: 1.5rem;
}
